*{
    margin: 0%;
    padding: 0%;
    border: 1px , solid, black;
}

header{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    display: inline-block;
}
header div{
    float: left;
}

header nav ul li{
    list-style: none;
    float: right;
}